/* Mise en forme du formulaire de contact */
.contact-clean {
  max-width: 550px;
  margin: 0 auto;
  padding: 50px 0;
}

.contact-clean form {
  background-color: #fff;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact-clean h2 {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: bold;
}

.contact-clean label {
  font-weight: bold;
}

.contact-clean input,
.contact-clean textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  background-color: #f6f6f6;
  width: 100%;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #333;
  box-shadow: none;
}

.contact-clean input:focus,
.contact-clean textarea:focus {
  outline: none;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.contact-clean button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-clean button[type="submit"]:hover {
  background-color: #0069d9;
  transition: 0.3s;
}

/* Mise en forme de la section toast */
.toast-container {
  position: absolute;
  top: 70px;
  right: 40%;
  z-index: 1;
}

.toast-body {
  background-color: #007bff;
  color: #fff;
}

.toast-header .bi {
  margin-right: 5px;
  font-size: 1.5rem;
}

/* Mise en forme du footer */
footer {
  background-color: #f9f9f9;
  padding: 25px 0;
  text-align: center;
  font-size: 14px;
  color: #333;
}

footer a {
  color: #007bff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

