<section class="features-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="feature">
            <i class="bi bi-car"></i>
            <h3>Large choix de voitures</h3>
            <p>Nous avons une grande variété de voitures disponibles pour répondre à vos besoins et votre budget.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature">
            <i class="bi bi-shield"></i>
            <h3>Assurance tous risques</h3>
            <p>Toutes nos voitures sont couvertes par une assurance tous risques pour vous offrir une tranquillité d'esprit maximale.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature">
            <i class="bi bi-credit-card"></i>
            <h3>Paiement en ligne sécurisé</h3>
            <p>Vous pouvez payer en ligne en toute sécurité grâce à notre système de paiement sécurisé.</p>
          </div>
        </div>
      </div>
    </div>
  </section>