
<nav>
  <div class="logo">
     <a href="/location-voitures">Marrakech Location</a>
  </div>
  <div class="menu">
    <ul>
      <li><a href="/location-voitures/reserver">RÉSÉRVER</a></li>
      <li>     <a  href="/location-voitures/gestion-cars">NOS VÉHICULE</a></li>
      <li>  <a  href="/location-voitures/contact">CONTACT</a></li>
      <li>   <a  href="/location-voitures/authentification-client">CONNEXION</a></li>

    </ul>
  </div>
  <div class="search">
    <input type="text" placeholder="Rechercher...">
    <button type="submit">OK</button>
  </div>
  <div class="toggle">
    <i class="fas fa-bars"></i>
  </div>
</nav>
