<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="https://www.heise.de/imgs/18/3/0/6/2/8/9/8/aufmacher_-15d7d04f9182bbd2.jpeg" class="d-block w-100 h-75" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color:white;">Qualité</h5>
        <p style="color:white;"> La qualité des voitures peut être mesurée de plusieurs façons, notamment par la fiabilité, la propreté, l'entretien régulier, les équipements et les fonctionnalités disponibles, ainsi que la marque et le modèle des voitures. Les clients peuvent être plus enclins à louer des voitures auprès de votre agence si vous pouvez garantir que vos voitures sont de haute qualité et répondent à leurs besoins.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://www.moteur.ma/media/photos/neufs/resized/moteur.ma-mercedes-classea-100729_.jpg" class="d-block w-100 h-75" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color:white;">Prix</h5>
        <p style="color:white;"> Le prix peut jouer un rôle important dans la décision des clients de louer des voitures auprès de votre agence. Il est important de définir une politique de prix claire et transparente qui soit compétitive par rapport aux autres agences de location de voitures dans la région. Les clients seront également intéressés par les offres promotionnelles, les remises et les forfaits qui peuvent leur permettre d'économiser de l'argent.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://www.moteur.ma/media/photos/neufs/resized/moteur.ma-hyundai-i20-817689_.jpg" class="d-block w-100 h-75" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color:white;">Sécurité</h5>
        <p style="color:white;"> La sécurité est un facteur crucial lorsqu'il s'agit de la location de voitures. Les clients doivent pouvoir se sentir en sécurité lorsqu'ils conduisent vos voitures, que ce soit grâce aux fonctionnalités de sécurité de la voiture elle-même (par exemple, les freins ABS, les airbags, les systèmes d'assistance à la conduite) ou grâce à la sécurité du processus de location (par exemple, la vérification des antécédents des conducteurs, l'assurance complète, la disponibilité d'une assistance routière 24 heures sur 24).</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
