
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentification</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

       <style>
        {% include 'css/styleNavbar.css'%}

    </style>
  </head>
  <body>
    {% include 'InterfaceClient/Navbar.html' %}
{% if message == 'Mot de passe ou email pas correct' %}
<div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
    <i class="bi bi-exclamation-triangle-fill me-2"></i> Mot de passe ou email incorrect.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

    <div class="container my-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-body">
              <h3 class="text-center mb-4">Authentification</h3>
              <form class="was-validated" action="/location-voitures/authentification-client/authentifier" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label for="email">Adresse e-mail</label>
                  <input type="email" class="form-control" id="email" name="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Entrez votre email" required>
                <div class="invalid-feedback">
                   Veuillez entrer une adresse e-mail valide.
    </div>
                  <small id="emailHelp" class="form-text text-muted">Nous ne partagerons jamais votre e-mail avec personne d'autre.</small>
                </div>
                <div class="form-group">
                  <label for="password">Mot de passe</label>
                  <input type="password" class="form-control" id="password" name="Password" placeholder="Entrez votre mot de passe" required>
                </div>
                <button id="identifier-btn" type="submit" class="btn btn-primary btn-block">Se connecter</button>
              </form>

              <div class="text-center mt-3">
                <span>Pas encore inscrit ?</span>
                <a href="/location-voitures/create-account">Créer un compte</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'InterfaceClient/Footer.html' %}
<script>
    function checkchamps(){

  const password = document.getElementById("password");
  const email = document.getElementById("email");

  const identifierBtn = document.getElementById("identifier-btn");
  if ( password.value != "" && email.value != "" ) {
    identifierBtn.disabled = false;
  } else {
    identifierBtn.disabled = true;
  }
}

 document.getElementById("identifier-btn").disabled = true;
const inputs = document.querySelectorAll('input');
for (let i = 0; i < inputs.length; i++) {
  inputs[i].addEventListener('change', checkchamps);
}

</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
