<!DOCTYPE html>
<html>
<head>
    <style>
        {% include 'css/styleNavbar.css'%}

    </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Contact</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

  {% include 'InterfaceClient/Navbar.html' %}

  {% if message == 'Message bien envoyé' %}
    <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
      <i class="bi bi-check-circle-fill me-2"></i>Message bien envoyé
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

  {% endif %}

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Contactez-nous</h4>
          </div>
          <div class="card-body">
            <form action="message" method="post" class="was-validated">
              {% csrf_token %}
              <div class="mb-3">
                <label class="form-label" for="nom">Nom</label>
                <input type="text" class="form-control" id="nom" name="nom" required>
              </div>
              <div class="mb-3">
                <label class="form-label" for="email">Adresse e-mail</label>
              <input type="email" class="form-control" id="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                <div class="invalid-feedback">
                   Veuillez entrer une adresse e-mail valide.
    </div>              </div>
              <div class="mb-3">
                <label class="form-label" for="message">Message</label>
                <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
              </div>
              <button id="envoyer-btn"type="submit" class="btn btn-primary">Envoyer</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</br></br>
  {% include 'InterfaceClient/Footer.html' %}
<script>
    function checkchamps(){

  const nom = document.getElementById("nom");
  const email = document.getElementById("email");
  const message = document.getElementById("message");

  const envoyerBtn = document.getElementById("envoyer-btn");
  if ( nom.value != "" && email.value != "" && message.value != "" ) {
    envoyerBtn.disabled = false;
  } else {
    envoyerBtn.disabled = true;
  }
}

 document.getElementById("envoyer-btn").disabled = true;
const inputs = document.querySelectorAll('input, textarea');
for (let i = 0; i < inputs.length; i++) {
  inputs[i].addEventListener('change', checkchamps);
}

</script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
