</br>
<section class="features-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="feature">
          <h3>Large choix de voitures</h3>
            <p>Nous avons une grande variété de voitures disponibles pour répondre à vos besoins et votre budget.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature">

            <h3>Assurance tous risques</h3>
            <p>Toutes nos voitures sont couvertes par une assurance tous risques pour vous offrir une tranquillité d'esprit maximale.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature">

            <h3>Qualité exceptionnelle</h3>
            <p>Nous offrons un service de qualité exceptionnelle pour répondre à tous vos besoins et assurer votre satisfaction.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</br></br>