<div class="blockcode">


  <footer class="page-footer shadow bg-light">
    <div class="d-flex flex-column mx-auto py-5" style="width: 80% ;height:25%">
      <div class="d-flex flex-wrap justify-content-between" >
        <div style="width:40%">
          <a href="/" class="d-flex align-items-center p-0 text-dark" style="text-decoration:none">
            <img alt="logo" src="https://res.cloudinary.com/souloh-services/image/upload/v1680215324/logo_ek37hz.jpg" height="60px" width="100px" />
            <span class="ms-3 h5 font-weight-bold" style="font-size:32px">Marrakech Location</span>
          </a>
          <p class="my-3" >
           Marrakech location c'est une large gamme de véhicules qui vous donne la possibilité de choisir le véhicule le plus adapté à votre budget, vos besoins et vos envies.
Vous cherchez à louer un véhicule utilitaire ou un véhicule de tourisme, choisissez la voiture qui correspond à votre besoin.
          </p>
          <span class="mt-4">
    <button class="btn btn-dark btn-flat p-2">
      <i class="fa fa-facebook"></i>
    </button>
    <button class="btn btn-dark btn-flat p-2">
      <i class="fa fa-twitter"></i>
    </button>
    <button class="btn btn-dark btn-flat p-2">
      <i class="fa fa-instagram"></i>
    </button>
  </span>
        </div>
           <div style="width:15%">
         <p class="h5 mb-4" style="font-weight: 600">Entreprise</p>
          <ul class="p-0" style="list-style: none; cursor: pointer">
              <li class="my-2">
              <a class="text-dark" href="/" >À propos</a>
            </li>
            <li class="my-2">
              <a class="text-dark" href="/" >Contactez nous</a>
            </li>

          </ul>
        </div>
          <div style="width:25%">
         <p class="h5 mb-4" style="font-weight: 600">Contact</p>
          <ul class="p-0" style="list-style: none; cursor: pointer">
            <li class="fa fa-envelope">
              <a class="text-dark" href="/" style="text-decoration:none">marrakech-location@info.ma</a>
</li>
          <li class="my-2">
                   <li class="fa fa-phone">
              <a class="text-dark" href="/" style="text-decoration:none">0577889965</a>
</li>
            </li>
            <li class="my-2">
                   <li class="fa fa-fax">
              <a class="text-dark" href="/" style="text-decoration:none">0577889964</a>
</li>
            </li>
               </li>
            <li class="my-2">
                   <li class="fa fa-map-marker">
              <a class="text-dark" href="/" style="text-decoration:none">05 lot bouizgaren, Rte de Safi, Marrakech 40000</a>
</li>
            </li>
          </ul>
        </div>


      </div>



    </div>
      <div class="d-flex flex-column mx-auto py-5 bg-light text-secondary" style="width: 80%">
       <small class="text-center mt-5">&copy; Marrakech Location, 2023. All rights reserved.</small>
          </div>
  </footer>
</div>

