
<nav>
  <div class="logo">
     <a href="/location-voitures">Marrakech Location</a>
  </div>
  <div class="menu">
    <ul>

      <li>     <a  href="/location-voitures/reserver">NOS VÉHICULE</a></li>
      <li>  <a  href="/location-voitures/contact">CONTACT</a></li>

{% if request.session.client_id %}
      <li>   <a  href="/location-voitures/Profil">Profil</a></li>
   <li>   <a  href="/location-voitures/deconnexion">DECONNEXION</a></li>
{% else %}
   <li>   <a  href="/location-voitures/authentification-client">CONNEXION</a></li>
{% endif %}
    </ul>
  </div>
  <div class="search">
    <input type="text" placeholder="Rechercher...">
    <button type="submit">OK</button>

  </div>

</nav>
