
<html lang="fr">
  <head>
<style>

{% include 'css/styleNavbar.css'%}
</style>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css" integrity="v0OA1bALOgExdr5F85+sd45OvCzkb/Qh/HJTMgQbPOwZZlCiOyN5DhGnLuL24HMY" crossorigin="anonymous" />

    <title>Location des voitures</title>
  </head>
<body>
{% include 'InterfaceClient/Navbar.html' %}
<div class="container mb-3">
    <form action="/" method="GET">
        <div class="row">
            <div class="col-md-3">
                <label for="marque" class="form-label">Marque</label>
                <select class="form-select" id="marque" name="marque">
                    <option value="">Tous</option>
                   {% for voiture in voitures %}
                        <option value="{{ voiture.Marque }}">{{ voiture.Marque }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary mt-4">Filtrer</button>
            </div>
        </div>
    </form>
</div>

<div class="container">
    <div class="row">
        {% for voiture in voitures %}
            <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100 border-0 shadow">
                    <img src="{{ voiture.MainImage }}" class="card-img-top custom-img-size" alt="...">
                    <div class="card-body">
                        <a href="voiture/{{voiture.id}}"><h5 class="card-title">Name : {{ voiture.Name}}</h5></a>
                        <div class="row">
                        <div class="col-sm-5">
                         <p><strong>Marque :</strong> {{ voiture.Marque }}</p>
                        </div>
                            <div class="col">
                        <p><strong>Model :</strong> {{ voiture.Model }}</p>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col"><i class="fab fa-user"></i></div>
                            <div class="col">{{ voiture.NombrePlaces }}</div>

                            <div class="col"><i class="fa-solid fa-road" style="color: #93fbef;"></i></div>
                            <div class="col">{{ voiture.Kilometrage }}</div>

                            <div class="col"><i class="fab fa-palette"></i></div>
                            <div class="col">{{ voiture.Couleur }}</div>
                               <div class="col"><i class="fa-solid fa-wind" style="color: #46baec;"></i></div>
                            <div class="col">{% if voiture.Climat %}
                                oui
                     {% else %}
                         non
                    {% endif %}</div>
                        </div>

                        <div class="row">

                            <div class="col-sm-1"><i class="fa-solid fa-gear" style="color: #33d4d7;"></i></div>
                            <div class="col">{{ voiture.BoiteVitesse }}</div>

                        </div>
                        <a href="/location-voitures/reservation/{{ voiture.id }}" class="btn btn-primary w-100 mt-3">Reserver</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


</div>
</br>
{% include 'InterfaceClient/Footer.html' %}





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

  </body>
</html>